@media (max-width: 768px) {
  .btn {
    padding: 10px;
  }
  input,
  input.editor {
    padding: 10px;
  }
  .todo-container {
    width: 100%;
    margin: 0;
  }
  .todo-container .todo-header {
    align-items: center;
    border-radius: 0;
  }
  .todo-container .todo-header h1 {
    font-size: 30px;
  }
  .todo-container .todo-banner {
    flex-direction: column;
  }
  .todo-container .todo-banner .description blockquote {
    font-size: 15px;
    margin-left: 0;
  }
  .todo-container .todo-banner .bg {
    text-align: right;
    margin-right: 45px;
  }
  .todo-container .todo-banner .bg img {
    width: 150px;
    transform: rotate(20deg) translate(55px, -47px);
  }
  .todo-container .to-dos ul li p {
    font-size: 16px;
  }
  .todo-container .to-dos ul li span img {
    width: 15px;
  }
  footer .logo-footer a {
    font-size: 30px;
  }
  footer .footer-menu,
  footer .social {
    flex-shrink: 1;
    width: 100%;
  }
  footer .footer-menu ul,
  footer .social ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer-menu ul li,
  footer .social ul li {
    margin: 10px;
  }
}
