body {
  background-color: #363f4e;
  font-family: 'Muli', sans-serif;
  margin: 0;
  display: flow-root;
}
.bg-wrapper {
  background-image: url("ThinkstockPhotos-481009476.60b7a095.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}
.btn {
  display: inline-block;
  font-size: 20px;
  background-color: #363f4e;
  padding: 20px;
  margin: 10px 0;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: #363f4e;
  box-shadow: 6px 5px 20px 2px #00000045;
}
input,
input.editor {
  display: block;
  border: none;
  padding: 20px;
  font-size: 25px;
  color: #363f4e;
  width: 100%;
  margin: 10px 25px 10px 0;
}
input.editor,
input.editor.editor {
  width: 90%;
  padding: 10px;
}
input::placeholder,
input.editor::placeholder {
  opacity: .7;
  font-size: 20px;
}
input:focus,
input.editor:focus {
  box-shadow: 6px 5px 20px 2px #00000045;
  outline: none;
}
.todo-container {
  max-width: 850px;
  width: 100%;
  margin-left: 70px;
  box-shadow: 0 20px 86px 0 rgba(0, 0, 0, 0.57);
  margin-top: 80px;
}
.todo-container .todo-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #363f4e;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.todo-container .todo-header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}
.todo-container .todo-header .logo {
  height: 50px;
}
.todo-container .todo-banner {
  background-color: #df555d;
  padding: 30px;
  color: white;
  text-align: left;
  display: flex;
}
.todo-container .todo-banner .description {
  position: relative;
  z-index: 2;
}
.todo-container .todo-banner .description h2 {
  margin-top: 0;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
}
.todo-container .todo-banner .description blockquote {
  font-size: 20px;
  color: #363f4e;
  font-weight: 600;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.todo-container .todo-banner .description blockquote:before {
  color: #363f4e;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.todo-container .todo-banner .description blockquote::after {
  color: #363f4e;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.7em;
}
.todo-container .todo-banner .description span {
  display: block;
  margin: 10px;
  text-align: right;
  transform: translate(-22px, -22px);
}
.todo-container .todo-banner .bg img {
  width: 250px;
  transform: rotate(20deg) translate(44px, 5px);
}
.todo-container .todo-content {
  padding: 30px;
  background-color: #eeeeef;
}
.todo-container .todo-content .todo-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-container .todo-content .todo-input .btn {
  display: block;
}
.todo-container .to-dos {
  padding: 30px;
  background-color: white;
}
.todo-container .to-dos ul {
  padding: 0;
}
.todo-container .to-dos ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: #363f4e;
  padding: 5px;
  margin: 2px 0;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.todo-container .to-dos ul li:hover {
  background-color: #ededef;
}
.todo-container .to-dos ul li:hover span {
  transform: scale(1.1);
  color: #df555d;
  opacity: 1;
}
.todo-container .to-dos ul li p {
  text-align: left;
  width: 90%;
  margin: 10px;
  display: flex;
  position: relative;
}
.todo-container .to-dos ul li p.done {
  text-decoration: line-through;
}
.todo-container .to-dos ul li p:focus,
.todo-container .to-dos ul li p.edit {
  outline: none;
  border: 2px solid #df555d;
  border-radius: 3px;
  padding: 5px;
}
.todo-container .to-dos ul li p span {
  position: absolute;
  bottom: -27px;
  padding: 20px;
  font-size: 16px;
  opacity: 1;
}
.todo-container .to-dos ul li span {
  font-style: italic;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: .3;
  padding-right: 3px;
}
.todo-container .to-dos ul li span small {
  font-size: 15px;
  margin: 5px;
}
.todo-container .to-dos ul li span img {
  width: 20px;
  margin: 0 2px;
}
.todo-container .to-dos p {
  font-size: 25px;
  color: #363f4e;
  padding: 5px;
  text-align: right;
}
.todo-container .to-dos p span {
  font-weight: 300;
  color: #df555d;
}
footer {
  background-color: #363f4e;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
  padding: 30px 0;
}
footer .logo-footer {
  padding: 0 30px;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logo-footer .logo {
  width: 65px;
  margin-right: 15px;
}
footer .logo-footer a {
  color: white;
  transition: 0.3s ease-in-out;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 45px;
  text-decoration: none;
}
footer .logo-footer p {
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 45px;
  color: white;
}
footer .footer-menu,
footer .social {
  padding: 0 30px;
  flex-shrink: 0;
}
footer .footer-menu ul,
footer .social ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
footer .footer-menu ul li,
footer .social ul li {
  margin: 0 40px;
}
footer .footer-menu ul li a,
footer .social ul li a {
  color: white;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
footer .footer-menu ul li a:hover,
footer .social ul li a:hover {
  color: #df555d;
}
footer .footer-menu ul li a i,
footer .social ul li a i {
  font-size: 35px;
}
footer .social ul li {
  margin: 0 20px;
}
footer .rights {
  margin: 10px auto;
  padding: 20px;
}
footer .rights a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}
footer .rights a:hover {
  color: #df555d;
}
